
.general{
    height:180px;
    width: auto;

}

.btn-bx{
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: center;
    gap: 30px;
}

.heading{
    font-size: 200%;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.1;
}

.g{
    color: rgb(39, 83, 26);
}

.r{
    color: rgb(250, 100, 45);
}
.card{
     margin: 0;
  padding: 0;
  height: 200px;
    max-width: 500px;
    width: 95vw;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    border: 2px solid white;
    box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.312);
}

.orange{
    background-image: linear-gradient(transparent, rgba(234, 153, 23, 0.484)), url('../assets/bg_l&f.png'); 
  background-size: cover;     
  background-repeat: no-repeat;
}

.green{
    background-image: linear-gradient(transparent, rgba(40, 102, 2, 0.429)), url('../assets/bg_l&f.png'); 
  background-size: cover;     
  background-repeat: no-repeat;
}

.re{
    background-image: linear-gradient(to right, red, orange);
    height: 25%;
    width: 80%;
    border-radius: 1000px;
    border: 3px ridge orange;
    color: white;
    font-size: medium;
}

.gr{
    background-image: linear-gradient(to right, rgb(32, 204, 32), rgb(22, 43, 22));
    height: 25%;
    width: 80%;
    border-radius: 1000px;
    border: 3px ridge rgb(24, 43, 8);
    color: white;
    font-size: medium;
}

.container_1{
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
    gap: 40px;
    justify-content: center;
}