.listArea{
    display:flex;
    justify-content: center;
    gap:40px;
    flex-wrap: wrap;
    /* padding-left: 10vw;
    padding-right: 10vw; */
    padding-top: 5vh;
    padding-bottom: 5vh;
    border: 2px solid white;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.window{
    border: 3px solid  rgb(89, 89, 148) ;
    border-radius: 10px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.search-input{
    max-width: 380px;
    width: 65vw;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    font-size: medium;
    text-align: center;
    margin-right: 15px;
    background-image: linear-gradient(to right, rgba(190, 190, 218, 0.51), rgba(89, 89, 148, 0.811));
}

.search-button{
    width:15vw;
    max-width: 80px;
    height: 40px;
    border-radius: 5px;
}
